.button {
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #ff6b6b;
    padding: 10px 20px;
    border: #ff6b6b 1px solid;
    border-radius: 50px;
    width: 150px;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        background-color: #942727;
        border-color: #942727;
    }
}

@media (max-width: 800px) {
    .button {
        font-size: 18px;
        padding: 5px 15px;
        width: 125px;
    }
}

@media (max-width: 500px) {
    .button {
        font-size: 12px;
        padding: 5px 10px;
        width: 100px;
        margin-top: 0;
    }
}
