@import "../../styles/global.scss";

.button {
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: $color-pink;
    padding: 10px 20px;
    border: $color-pink 1px solid;
    border-radius: 50px;
    width: 150px;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        background-color: $color-red;
        border-color: $color-red;
    }
}

@media (max-width: 768px) {
    
    .button {
        font-size: 18px;
        padding: 5px 15px;
        width: 125px;
    }
}

@media (max-width: 576px) {

    .button {
        font-size: 12px;
        padding: 5px 10px;
        width: 100px;
        margin-top: 0;
    }
}
