@import "../../styles/global.scss";

.spectacles {
    margin-top: 10vh;
    min-height: 85vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    display: inline-block;
    padding: 75px 0 25px 25px;
    color: $color-grey;
    text-transform: uppercase;
    font-size: 42px;
    text-align: left;
}

.filtrWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    font-size: 18px;
    padding: 10px 10px;
    border: 1px solid $color-light;
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
}

.filterBtn {
    margin: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid $color-light;
    background-color: $color-white;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    
    .spectacles {
        min-height: 80vh;
        margin-top: 15vh;
    }
}

@media (max-width: 992px) {

    .title {
        padding: 50px 0 25px 25px;
        font-size: 38px;
    }

    .wrapper {
        align-items: flex-start;
    }

    .filtrWrapper {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        padding-top: 50px;
    }

    .search {
        margin: 5px 0;
    }

    .filterBtn {
        padding: 5px 8px;
        margin: 5px 0;
    }
}

@media (max-width: 576px) {

    .wrapper {
        flex-direction: column;
    }

    .filtrWrapper {
        padding-top: 25px;
        margin-left: auto;
    }

    .title {
        padding: 35px 0 25px 25px;
        font-size: 32px;
    }
}
