@import "../../../styles/global.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
}

.title {
    font-size: 26px;
    color: $color-pink;
    margin-bottom: 20px;
}

.input {
    outline: none;
    height: 40px;
    width: 100%;
    margin-top: 0;
    padding: 10px 15px;
    border: 2px solid grey;
    border-radius: 10px;
}

.textarea {
    outline: none;
    margin: 0;
    height: 150px;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid grey;
    border-radius: 10px;
}

.warning {
    color: $color-red;
    font-size: 12px;
}

@media (max-width: 992px) {
    
    .form {
        margin: 0 auto;
        align-items: flex-end;
        width: 90%;
    }
}
