@import "../../styles/global.scss";

.header {
    background-color: $color-grey;
    color: $color-white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    margin-left: 15px;
    font-size: 70px;
    color: $color-white;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
}

.decoration {
    color: $color-pink;
}

.hamburger {
    margin-right: 15px;
    z-index: 2;
}

.list {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.element {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.link {
    color: $color-white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.active {
    color: $color-white;
    background-color: $color-pink;
}

@media (max-width: 1024px) {
    .header {
        position: relative;
        top: 0;
        overflow: hidden;
    }

    .wrapper {
        height: 15vh;
    }

    .logo {
        font-size: 60px;
    }

    .list {
        transform: translateX(100%);
        display: inline-flex;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-grey;
        transition: transform 1s ease-in-out;
    }

    .listActvie {
        transform: translateX(0);
    }

    .element {
        margin-bottom: 25px;
    }
}
