.header {
    background-color: #333;
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    font-size: 70px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.decoration {
    color: #ff6b6b;
}

.list {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.element {
    text-transform: uppercase;
    margin: 0 30px;
    list-style-type: none;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: #ff6b6b;
}

@media (max-width: 1024px) {
    .header {
        position: relative;
    }

    .logo {
        font-size: 60px;
    }

    .list {
        transform: translateX(100%);
        display: inline-flex;
        position: fixed;
        right: 0;
        top: 10vh;
        height: 90vh;
        width: 100vw;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        transition: transform 1s ease-in-out;
    }

    .listActvie {
        transform: translateX(0);
    }

    .element {
        margin-bottom: 25px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        margin: 0 15px;
    }
}
