@import "~reset-css/reset.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

$color-white: #F7F7F7;
$color-light: #a5a5a5;
$color-grey: #333;
$color-pink: #ff6b6b;
$color-red: #942727;
$color-green: #008000;