@import "../../styles/global.scss";

.admin {
    color: $color-grey;
    min-height: 85vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    display: inline-block;
    padding: 75px 0 25px 25px;
    color: $color-grey;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
}

.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: $color-white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: $color-pink;
    outline: none;
}

@media (max-width: 1024px) {
    .admin {
        min-height: 80vh;
    }
}

@media (max-width: 900px) {
    .title {
        padding: 50px 0 0 25px;
        font-size: 38px;
    }

    .buttonAdd {
        font-size: 28px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 500px) {
    .title {
        padding: 35px 0 0 15px;
        font-size: 26px;
    }

    .buttonAdd {
        align-items: flex-start;
        font-size: 24px;
        width: 40px;
        height: 40px;
    }
}
