.wrapper {
    height: 85vh;
    padding: 100px 0;
    color: black;
    display: flex;
    flex-direction: row;
}

.img {
    display: inline-block;
    margin-right: 25px;
}

.price {
    margin: 25px;
    font-size: 20px;
}

.caption {
    display: inline-block;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.director {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.description {
    font-size: 22px;
    line-height: 1.5;
}
