@import "../../styles/global.scss";

.footer {
    height: 5vh;
    position: relative;
    background-color: $color-light;
    color: $color-white;
    display: flex;
    align-items: center;
    text-align: center;
}
