@import "../../../styles/global.scss";

.wrapper {
    position: relative;
    height: 90vh;
}

.img {
    height: 100%;
}

.caption {
    position: absolute;
    top: 0;
    bottom: -5px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.title {
    font-size: 100px;
    &::first-letter {
        color: $color-pink;
    }
}

@media (max-width: 1024px) {
    
    .wrapper {
        height: 75vh;
    }

    .title {
        font-size: 80px;
    }
}

@media (max-width: 768px) {

    .title {
        font-size: 65px;
    }
}

@media (max-width: 576px) {
    
    .title {
        font-size: 50px;
    }
}
