@import "../../../styles/global.scss";

.slick-next {
    right: 30px;

    &::before {
        font-size: 40px;
        color: $color-light;
    }
}

.slick-prev {
    left: 10px;
    z-index: 1;

    &::before {
        font-size: 40px;
        color: $color-light;
    }
}

.slick-slide img {
    object-fit: cover;
    width: 100vw;
    height: 101%;
}

.slick-dots {
    bottom: -50px
}
